.Table {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.Table .a {
  border-bottom: 1px solid #ccc;
  padding: 0.25em 1em;
  font-weight: bold;
  background-color: #eee;
}

.Table {
  padding: 0.5em;
}

.link.ContestPreview {
  cursor: pointer;
}
.Contest .home-link {
  margin-top: 1em;
  color: #0000ee;
  cursor: pointer;
}
